* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Bahnschrift, monospace !important; /*TODO resolve it properly*/
    color: #edf2f4;
}

header {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    font-size: 20px !important; /*TODO resolve it properly*/
    text-align: center;
}

header h1 {
    font-weight: normal
}

body {
    background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
}

.container h1 {
    font-size: 40px;
    font-weight: 200;
}

.error {
    color: #ff2132;
    font-size: 20px;
    font-weight: 100;
}

.successMessage {
    color: #149c0a;
    font-size: 20px;
    font-weight: 100;
}

.regularMessage {
    width: 300px;
    margin: auto;
    color: white;
    font-size: 20px;
    font-weight: 100;
}


.MuiAppBar-root {
    background-color: rgba(0, 0, 0, 0.2) !important; /*TODO resolve it properly*/
    color: #edf2f4 !important; /*TODO resolve it properly*/
}

.MuiButton-root {
    background-color: #3f51b5 !important; /*TODO resolve it properly*/
    border-radius: 3px !important; /*TODO resolve it properly*/
    color: #edf2f4 !important; /*TODO resolve it properly*/
}

.MuiTextField-root{
    //color: #edf2f4 !important; /*TODO resolve it properly*/
    background-color: #50a3a2 !important; /*TODO resolve it properly*/
    border-radius: 3px;
}

.MuiFormControl-root{
    color: #edf2f4 !important; /*TODO resolve it properly*/
    background-color: #3f51b5 !important; /*TODO resolve it properly*/
}
.MuiFormLabel-root{
    color: #edf2f4 !important; /*TODO resolve it properly*/
    background-color: #3f51b5  !important; /*TODO resolve it properly*/
    padding-top: 5px !important; /*TODO resolve it properly*/
    padding-left: 5px !important; /*TODO resolve it properly*/
}

.MuiInputBase-input {
    color: #edf2f4 !important; /*TODO resolve it properly*/
    background-color: #3f51b5 !important; /*TODO resolve it properly*/
    padding-left: 5px !important; /*TODO resolve it properly*/
}
.MuiInput-input {
    color: #edf2f4 !important; /*TODO resolve it properly*/
    background-color: #3f51b5 !important; /*TODO resolve it properly*/
}


.MuiInputBase-root {
    color: #edf2f4 !important; /*TODO resolve it properly*/
    background-color: #3f51b5 !important; /*TODO resolve it properly*/
}


.MuiTableContainer-root {
    background-color: rgba(0, 0, 0, 0) !important; /*TODO resolve it properly*/
    color: #edf2f4 !important; /*TODO resolve it properly*/
}

.MuiTableCell-root {
    color: #edf2f4 !important; /*TODO resolve it properly*/
    text-align: center !important; /*TODO resolve it properly*/
    background-color: rgba(0, 0, 0, 0) !important; /*TODO resolve it properly*/
}

.MuiTablePagination-root {
    background-color: rgba(0, 0, 0, 0) !important; /*TODO resolve it properly*/
    color: black !important; /*TODO resolve it properly*/
}

.MuiBox-root {
    background-color: rgba(0, 0, 0, 0.3) !important; /*TODO resolve it properly*/
    color: #edf2f4 !important; /*TODO resolve it properly*/
}

.MuiList-root {
    background-color: rgba(0, 0, 0, 0.3) !important; /*TODO resolve it properly*/
}

.MuiListItem-root {
    background-color: rgba(0, 0, 0, 0.3) !important; /*TODO resolve it properly*/
}

.MuiMenuItem-root {
    background-color: rgba(0, 0, 0, 0.3) !important; /*TODO resolve it properly*/
}

.MuiMenu-root {
    background-color: rgba(0, 0, 0, 0.3) !important; /*TODO resolve it properly*/
}

.menuTabs {

    color: #edf2f4;
    text-align: center;
}

.description {
    width: 50%;
    padding: 20px 0;
    margin: 0 auto 100px auto;
}

.descriptionText{
    text-align: justify;
}


form {
    padding: 20px 0;
    position: relative;
}

form input {
    border: 2px solid #8d99ae;
    background-color: rgba(0, 0, 0, 0);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #edf2f4;
    font-weight: normal;
}

form button {
    appearance: none;
    outline: 0;
    background-color: #edf2f4;
    border: 0;
    padding: 10px 15px;
    color: #50a3a2;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
}